.app{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.mainContainer{
  height: 500px;
  width: 400px;
  background-color: aliceblue;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms;
}


.mainContainer:hover{
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.28);
}

.place-img{
  width: 100%;
  height: 85%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info{
  width: 80%;
  height: 15%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn{
  background-color: rgb(96, 96, 235);
  color: White;
  border-radius: 5px;
  padding: 10px 25px;
  border: none;
  transition: all 300ms;
}

.btn:hover{
  background-color: rgb(145, 145, 246);
}